{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
  <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% render 'icon-share' %}
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {% render 'icon-share' %}
      {{ block.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
{% endcomment %}
<div class="share__wrapper d-flex">
  <span class="share__label">{{ block.settings.share_label }}</span>
  <ul class="share__lists list-unstyled">
    <li>
      <a class="youtube" href="https://www.google.com/search?q=site:{{ share_link }}" title="Google" data-no-instant="" rel="noopener noreferrer nofollow" target="_blank">
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.8385 11.7097C22.6449 11.0323 22.1611 10.5484 21.4836 10.3549C20.3224 10.0646 15.3869 10.0646 15.3869 10.0646C15.3869 10.0646 10.5482 10.0646 9.29009 10.3549C8.61267 10.5484 8.12879 11.0323 7.93524 11.7097C7.7417 12.9678 7.7417 15.4839 7.7417 15.4839C7.7417 15.4839 7.7417 18.0001 8.03202 19.2581C8.22557 19.9355 8.70944 20.4194 9.38686 20.613C10.5481 20.9033 15.4836 20.9033 15.4836 20.9033C15.4836 20.9033 20.3223 20.9033 21.5804 20.613C22.2578 20.4194 22.7417 19.9355 22.9353 19.2581C23.2256 18.0001 23.2256 15.4839 23.2256 15.4839C23.2256 15.4839 23.2256 12.9678 22.8385 11.7097ZM13.9352 17.8065V13.1614L17.9998 15.4839L13.9352 17.8065Z" fill="black"/>
        </svg>          
      </a>
    </li>
    <li>
      <a class="instagram" href="#" title="Instagram" data-no-instant="" rel="noopener noreferrer nofollow" target="_blank">
        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.7427 8.90303C17.8717 8.90303 18.1621 8.90303 19.033 8.90303C19.8072 8.90303 20.1943 9.09658 20.4846 9.19335C20.8717 9.3869 21.1621 9.48367 21.4524 9.774C21.7427 10.0643 21.9363 10.3546 22.033 10.7417C22.1298 11.0321 22.2266 11.4192 22.3234 12.1934C22.3234 13.0643 22.3234 13.2579 22.3234 15.4837C22.3234 17.7095 22.3234 17.903 22.3234 18.774C22.3234 19.5482 22.1298 19.9353 22.033 20.2256C21.8395 20.6127 21.7427 20.903 21.4524 21.1933C21.1621 21.4837 20.8717 21.6772 20.4846 21.774C20.1943 21.8708 19.8072 21.9675 19.033 22.0643C18.1621 22.0643 17.9685 22.0643 15.7427 22.0643C13.5169 22.0643 13.3234 22.0643 12.4524 22.0643C11.6782 22.0643 11.2911 21.8708 11.0008 21.774C10.6137 21.5804 10.3234 21.4837 10.033 21.1933C9.74271 20.903 9.54916 20.6127 9.45238 20.2256C9.35561 19.9353 9.25884 19.5482 9.16206 18.774C9.16206 17.903 9.16206 17.7095 9.16206 15.4837C9.16206 13.2579 9.16206 13.0643 9.16206 12.1934C9.16206 11.4192 9.35561 11.0321 9.45238 10.7417C9.64593 10.3546 9.74271 10.0643 10.033 9.774C10.3234 9.48367 10.6137 9.29013 11.0008 9.19335C11.2911 9.09658 11.6782 8.9998 12.4524 8.90303C13.3234 8.90303 13.6137 8.90303 15.7427 8.90303ZM15.7427 7.45142C13.5169 7.45142 13.3234 7.45142 12.4524 7.45142C11.5814 7.45142 11.0008 7.64496 10.5169 7.83851C10.033 8.03206 9.54916 8.32238 9.06529 8.80626C8.58142 9.29013 8.38787 9.67722 8.09755 10.2579C7.904 10.7417 7.80722 11.3224 7.71045 12.1934C7.71045 13.0643 7.71045 13.3546 7.71045 15.4837C7.71045 17.7095 7.71045 17.903 7.71045 18.774C7.71045 19.645 7.904 20.2256 8.09755 20.7095C8.29109 21.1933 8.58142 21.6772 9.06529 22.1611C9.54916 22.645 9.93626 22.8385 10.5169 23.1288C11.0008 23.3224 11.5814 23.4192 12.4524 23.5159C13.3234 23.5159 13.6137 23.5159 15.7427 23.5159C17.8717 23.5159 18.1621 23.5159 19.033 23.5159C19.904 23.5159 20.4846 23.3224 20.9685 23.1288C21.4524 22.9353 21.9363 22.645 22.4201 22.1611C22.904 21.6772 23.0975 21.2901 23.3879 20.7095C23.5814 20.2256 23.6782 19.645 23.775 18.774C23.775 17.903 23.775 17.6127 23.775 15.4837C23.775 13.3546 23.775 13.0643 23.775 12.1934C23.775 11.3224 23.5814 10.7417 23.3879 10.2579C23.1943 9.774 22.904 9.29013 22.4201 8.80626C21.9363 8.32238 21.5492 8.12884 20.9685 7.83851C20.4846 7.64496 19.904 7.54819 19.033 7.45142C18.1621 7.45142 17.9685 7.45142 15.7427 7.45142Z" fill="black"/>
          <path d="M15.7427 11.3224C13.4201 11.3224 11.5814 13.1611 11.5814 15.4837C11.5814 17.8063 13.4201 19.645 15.7427 19.645C18.0653 19.645 19.904 17.8063 19.904 15.4837C19.904 13.1611 18.0653 11.3224 15.7427 11.3224ZM15.7427 18.1933C14.2911 18.1933 13.033 17.0321 13.033 15.4837C13.033 14.0321 14.1943 12.774 15.7427 12.774C17.1943 12.774 18.4524 13.9353 18.4524 15.4837C18.4524 16.9353 17.1943 18.1933 15.7427 18.1933Z" fill="black"/>
          <path d="M20.0008 12.1934C20.5352 12.1934 20.9685 11.7601 20.9685 11.2256C20.9685 10.6911 20.5352 10.2579 20.0008 10.2579C19.4663 10.2579 19.033 10.6911 19.033 11.2256C19.033 11.7601 19.4663 12.1934 20.0008 12.1934Z" fill="black"/>
        </svg>          
      </a>
    </li>
    <li>
      <a class="linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_link }}" title="Linkedin" data-no-instant="" rel="noopener noreferrer nofollow" target="_blank">
        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.7419 21.9355H9.72576V12.4436H12.7419V21.9355ZM11.2338 11.1129C10.258 11.1129 9.54834 10.4032 9.54834 9.42743C9.54834 8.45162 10.3467 7.74194 11.2338 7.74194C12.2096 7.74194 12.9193 8.45162 12.9193 9.42743C12.9193 10.4032 12.2096 11.1129 11.2338 11.1129ZM23.7419 21.9355H20.7258V16.7903C20.7258 15.2823 20.1048 14.8387 19.2177 14.8387C18.3306 14.8387 17.4435 15.5484 17.4435 16.879V21.9355H14.4274V12.4436H17.2661V13.7742C17.5322 13.1532 18.5967 12.1774 20.1048 12.1774C21.7903 12.1774 23.5645 13.1532 23.5645 16.0807V21.9355H23.7419Z" fill="black"/>
        </svg>          
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_link }}" title="Twitter" data-no-instant="" rel="noopener noreferrer nofollow" target="_blank">
        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 10.6452C23.4193 10.9355 22.8387 11.0323 22.1613 11.1291C22.8387 10.742 23.3226 10.1613 23.5161 9.38715C22.9355 9.77425 22.258 9.9678 21.4839 10.1613C20.9032 9.5807 20.0322 9.1936 19.1613 9.1936C17.129 9.1936 15.5806 11.1291 16.0645 13.0646C13.4516 12.9678 11.129 11.7097 9.48386 9.77425C8.61289 11.2259 9.09676 13.0646 10.4516 14.0323C9.96773 14.0323 9.48386 13.8388 8.99998 13.6452C8.99998 15.0968 10.0645 16.4517 11.5161 16.8388C11.0322 16.9355 10.5484 17.0323 10.0645 16.9355C10.4516 18.1936 11.6129 19.1613 13.0645 19.1613C11.9032 20.0323 10.1613 20.5162 8.51611 20.3226C9.96773 21.1936 11.6129 21.7742 13.3548 21.7742C19.258 21.7742 22.5484 16.8388 22.3548 12.2904C23.0322 11.9033 23.6129 11.3226 24 10.6452Z" fill="black"/>
        </svg>          
      </a>
    </li>
    <li>
      <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_link }}" title="Facebook" data-no-instant="" rel="noopener noreferrer nofollow" target="_blank">
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.2578 15.4839C23.2578 11.2258 19.7739 7.74194 15.5159 7.74194C11.2578 7.74194 7.77393 11.2258 7.77393 15.4839C7.77393 19.3548 10.5804 22.5484 14.2578 23.129V17.7097H12.3223V15.4839H14.2578V13.7419C14.2578 11.8065 15.4191 10.7419 17.161 10.7419C18.032 10.7419 18.903 10.9355 18.903 10.9355V12.871H17.9352C16.9675 12.871 16.6772 13.4516 16.6772 14.0323V15.4839H18.8062L18.4191 17.7097H16.5804V23.2258C20.4513 22.6452 23.2578 19.3548 23.2578 15.4839Z" fill="black"/>
        </svg>          
      </a>
    </li>
  </ul>
</div>
