{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  .section-{{ section.id }} .fresh-rich-text__heading,
  .section-{{ section.id }} .fresh-rich-text__content p,
  .section-{{ section.id }} .fresh-rich-text__caption {
    color: {{ section.settings.color_text }};
  }
  .section-{{ section.id }}-bg-color .section-{{ section.id }} {
    background-color:{{ section.settings.color_bg }};
  }
  .section-{{ section.id }} .fresh-hero-banner__button-wrapper .fresh-button--color {
    padding: 18px 61px;
    border-radius: 300px;
  }
  .section-{{ section.id }} .fresh-hero-banner__button-wrapper .fresh-button--color::after{
    background-color: {{ section.settings.color_text_button }};
  }
  .section-{{ section.id }} .fresh-rich-text__wrapper .rich-text__blocks {
    max-width: {{ section.settings.max_width_mb }}%;
  }
  .section-{{ section.id }} .fresh-button--color::before {
    background-color: {{ section.settings.color_text_button }}
  }
  .about-us-page .rich-text__blocks .fresh-rich-text__content {
    padding-inline: 3.5px;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .about-us-page .rich-text__blocks .fresh-rich-text__content {
      padding-inline: 0;
      margin: 0;
    }
    .section-{{ section.id }} .fresh-rich-text__wrapper .rich-text__blocks {
      max-width: {{ section.settings.max_width }}%;
    }
    .section-{{ section.id }} .fresh-hero-banner__button-wrapper .fresh-button--color {
      padding: 18px 31px;
    }
  }
{%- endstyle -%}

<div class="isolate section-{{ section.id }}-bg-color">
  <div class="section-{{ section.id }} fresh-rich-text-container rich-text__container--{{ section.settings.desktop_content_position }} rich-text content-container  gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="fresh-rich-text__wrapper {{ section.settings.desktop_content_position }} {% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'subtitle' -%}
              {%- style -%}
                .section-{{ section.id }} .fresh-rich-text__caption {
                  font-size: {{ block.settings.font_size_subtitle_mb }}px;
                  font-weight: {{ block.settings.font_weight_subtitle }};
                }
                @media screen and (min-width: 768px) {
                  .section-{{ section.id }} .fresh-rich-text__caption {
                    font-size: {{ block.settings.font_size_subtitle }}px;
                  }
                }
              {%- endstyle -%}
              {% if block.settings.font_size_subtitle_mb > 16 %}
                {%- style -%}
                  .section-{{ section.id }} .fresh-rich-text__caption {
                    line-height: normal;
                  }
                {%- endstyle -%}
              {% endif %}
              {% if block.settings.font_size_subtitle > 16 %}
                {%- style -%}
                  @media screen and (min-width: 768px) {
                    .section-{{ section.id }} .fresh-rich-text__caption {
                      line-height: normal;
                    }
                  }
                {%- endstyle -%}
              {% endif %}
              <p
                class="rich-text__caption fresh-rich-text__caption rte inline-richtext rocket-font-fgrotesk {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption }}
              </p>
            {%- when 'title' -%}
              {%- style -%}
                .section-{{ section.id }} .fresh-rich-text__heading {
                  font-size: {{ block.settings.font_size_title_mb }}px;
                  font-weight: {{ block.settings.font_weight_title }};
                }
                @media screen and (min-width: 768px) {
                  .section-{{ section.id }} .fresh-rich-text__heading {
                    font-size: {{ block.settings.font_size_title }}px;
                  }
                }
              {%- endstyle -%}
              {% if block.settings.font_size_title_mb > 28 %}
                {%- style -%}
                  .section-{{ section.id }} .fresh-rich-text__heading {
                    line-height: 1.375;
                  }
                {%- endstyle -%}
              {% endif %}
              {% if block.settings.font_size_title > 32 %}
                {%- style -%}
                  @media screen and (min-width: 768px) {
                    .section-{{ section.id }} .fresh-rich-text__heading {
                      line-height: 1;
                    }
                  }
                {%- endstyle -%}
              {% endif %}
              <h2
                class="rich-text__heading fresh-rich-text__heading rte inline-richtext rocket-font-fgrotesk {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'content' -%}
              {%- style -%}
                .section-{{ section.id }} .fresh-rich-text__content {
                  font-size: {{ block.settings.font_size_content_mb }}px;
                  font-weight: {{ block.settings.font_weight_content }};
                }
                   .section-{{ section.id }} .fresh-rich-text__content {
                  line-height: {{ block.settings.line_height_content_mb }}px;
                }
                @media screen and (min-width: 768px) {
                  .section-{{ section.id }} .fresh-rich-text__content {
                    font-size: {{ block.settings.font_size_content }}px;
                    }
                     .section-{{ section.id }} .fresh-rich-text__content p {
                  line-height: {{ block.settings.line_height_content }}px;
                  }
                }
              {%- endstyle -%}
              {% if block.settings.font_size_content_mb > 16 %}
                {%- style -%}
                  .section-{{ section.id }} .fresh-rich-text__content {
                    line-height: normal;
                  }
                {%- endstyle -%}
              {% endif %}
              {% if block.settings.font_size_content > 16 %}
                {%- style -%}
                  @media screen and (min-width: 768px) {
                    .section-{{ section.id }} .fresh-rich-text__content {
                      line-height: 1.67;
                    }
                  }
                {%- endstyle -%}
              {% endif %}
              <div
                class="rich-text__text fresh-rich-text__content rocket-font-fgrotesk rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              {%- style -%}
                .section-{{ section.id }} .fresh-hero-banner__button-wrapper .rocket-button-fresh {
                  font-size: {{ block.settings.font_size_button_mb }}px;
                }
                @media screen and (min-width: 768px) {
                  .section-{{ section.id }} .fresh-hero-banner__button-wrapper .rocket-button-fresh {
                    font-size: {{ block.settings.font_size_button}}px;
                  }
                }
              {%- endstyle -%}
              {% if block.settings.font_size_button_mb > 16 %}
                {%- style -%}
                  .section-{{ section.id }} .fresh-hero-banner__button-wrapper .rocket-button-fresh {
                    line-height: normal;
                  }
                {%- endstyle -%}
              {% endif %}
              {% if block.settings.font_size_button > 16 %}
                {%- style -%}
                  @media screen and (min-width: 768px) {
                    .section-{{ section.id }} .fresh-hero-banner__button-wrapper .rocket-button-fresh {
                      line-height: normal;
                    }
                  }
                {%- endstyle -%}
              {% endif %}
              <div
                class="fresh-hero-banner__button-wrapper rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {% if block.settings.rocket_button_label_1 != blank %}
                  {% render 'rocket-fresh-buttons',
                    type: block.settings.rocket_button_type,
                    url: block.settings.rocket_button_url_1,
                    label: block.settings.rocket_button_label_1,
                    class: 'fresh-button--color fresh-button_rich-text'
                  %}
                {% endif %}
                {% if block.settings.rocket_button_label_2 != blank %}
                  {% render 'rocket-fresh-buttons',
                    type: block.settings.rocket_button_type,
                    url: block.settings.rocket_button_url_2,
                    label: block.settings.rocket_button_label_2,
                    class: 'fresh-button--color fresh-button_rich-text'
                  %}
                {% endif %}
                {% if block.settings.rocket_button_label_3 != blank %}
                  {% render 'rocket-fresh-buttons',
                    type: block.settings.rocket_button_type,
                    url: block.settings.rocket_button_url_3,
                    label: block.settings.rocket_button_label_3,
                    class: 'fresh-button--color fresh-button_rich-text'
                  %}
                {% endif %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fresh - Rich Text",
  "tag": "section",
  "class": "section rocket-fresh-rich-text-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Custom Color Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Custom Color Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_text_button",
      "label": "Custom Color Text Button",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_color_button",
      "label": "Custom Background Color Button",
      "default": "#111010"
    },
    {
      "type": "header",
      "content": "Max Width Content"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Max Width Content on Desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "max_width_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Max Width Content on Mobile",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding on Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding on Mobile",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "subtitle",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "font_weight_subtitle",
          "options": [
            {
              "value": "250",
              "label": "250"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "600",
              "label": "600"
            }
          ],
          "default": "400",
          "label": "Font Weight Sub Title"
        },
        {
          "type": "range",
          "id": "font_size_subtitle",
          "label": "Font Size Sub Title",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 32
        },
        {
          "type": "range",
          "id": "font_size_subtitle_mb",
          "label": "Font Size Sub Title on Mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 27
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "font_weight_title",
          "options": [
            {
              "value": "250",
              "label": "250"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "600",
              "label": "600"
            }
          ],
          "default": "400",
          "label": "Font Weight Title"
        },
        {
          "type": "range",
          "id": "font_size_title",
          "label": "Font Size Title",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 32
        },
        {
          "type": "range",
          "id": "font_size_title_mb",
          "label": "Font Size Title on Mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 27
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "font_weight_content",
          "options": [
            {
              "value": "250",
              "label": "250"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "600",
              "label": "600"
            }
          ],
          "default": "400",
          "label": "Font Weight Content"
        },
        {
          "type": "range",
          "id": "font_size_content",
          "label": "Font Size Content",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "line_height_content",
          "label": "Line height Content",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "font_size_content_mb",
          "label": "Font Size Content on Mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "line_height_content_mb",
          "label": "Line height Content on Mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 14
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "rocket_button_label_1",
          "label": "Button Label 1",
          "default": "Text Button"
        },
        {
          "type": "url",
          "id": "rocket_button_url_1",
          "label": "Button URL 1"
        },
        {
          "type": "text",
          "id": "rocket_button_label_2",
          "label": "Button Label 2",
          "default": "Text Button"
        },
        {
          "type": "url",
          "id": "rocket_button_url_2",
          "label": "Button URL 2"
        },
        {
          "type": "text",
          "id": "rocket_button_label_3",
          "label": "Button Label 3",
          "default": "Text Button"
        },
        {
          "type": "url",
          "id": "rocket_button_url_3",
          "label": "Button URL 3"
        },
        {
          "type": "range",
          "id": "font_size_button",
          "label": "Font Size Button",
          "min": 0,
          "max": 30,
          "step": 1,
          "default": 12
        },
        {
          "type": "range",
          "id": "font_size_button_mb",
          "label": "Font Size Button on Mobile",
          "min": 0,
          "max": 30,
          "step": 1,
          "default": 12
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fresh - Rich Text",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "content"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
